.float_left {
    float: left;
}

.text_justify {
    text-align: justify;
}

.selector {
    height: 5px;
    background-color: black;
}

.blog_post {
    width: 600px;
    margin: auto;
}

.blog_image {
    max-width: 100%;
    min-width: 100%;
}

.blog {
    text-align: center;
}

.center {
    text-align: center;
}

.name {
    font-size: 23px;
    font-weight: bold;
    font-family: "Verdana";
}

body {
    background-color: black;
}

.menu_item {
    margin: 5px 7px;
    text-align: center;
}

.menu_item_image {
    max-width: 100%;
    min-width: 100%;
    margin-bottom: 4px;
}

.menu_item_text {
    font-weight: bold;
    font-family: "Verdana";
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #ff9999;
    z-index: 1;
    overflow: hidden;
    min-width:300px;
}

.header_left {
}

.header_center {
}

.header_right {
    text-align: right;
}


@media screen and (min-width: 1010px) {
    .header {
        max-height: 155px;
        padding: 10px 20px;
    }
    .name {
        font-size: 23px;
    }
    .spacer {
        height: 165px;
    }
    .menu_item {
        height: 110px;
        width: 80px;
    }
    .menu_item_text {
        font-size: 10px;
    }
    .header h5 {
        font-size: 13px;
    }
}

@media screen and (min-width: 860px) and (max-width: 1010px) {
    .header {
        max-height: 120px;
        padding: 10px 20px;
    }
    .name {
        font-size: 18px;
    }
    .spacer {
        height: 130px;
    }
    .menu_item {
        height: 90px;
        width: 65px;
    }
    .menu_item_text {
        font-size: 9px;
    }
    .header h5 {
        font-size: 10px;
    }
}

@media screen and (min-width: 680px) and (max-width: 859px) {
    .header {
        max-height: 107px;
        padding: 5px 5px;
    }
    .name {
        font-size: 14px;
    }
    .spacer {
        height: 117px;
    }
    .menu_item {
        height: 85px;
        width: 50px;
    }
    .menu_item_text {
        font-size: 7px;
    }
    .header h5 {
        font-size: 9px;
    }
}

@media screen and (max-width: 679px) {
    .header {
        max-height: 85px;
        padding: 5px 5px;
    }
    .name {
        font-size: 11px;
    }
    .spacer {
        height: 95px;
    }
    .menu_item {
        height: 50px;
        width: 30px;
    }
    .menu_item_text {
        font-size: 4px;
    }
    .header h5 {
        font-size: 7px;
    }
    .header_left {
        display: none;
    }
    .header_right {
        display: none;
    }
}
