.blog_post {
    width: 750px;
    margin: auto;
}

.blog_image {
    max-width: 100%;
    min-width: 100%;
}

.blog {
    text-align: center;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #ff9999;
    z-index: 1;
    padding: 10px 20px;
    max-height: 150px;
    overflow: hidden;
}

.header_left {
    text-align: left;
    display: table-cell;
    vertical-align: middle;
}

.header_center {
    text-align: center;
}

.header_right {
    text-align: right;
}

.spacer {
    height: 160px;
}

.name {
    font-size: 23px;
    font-weight: bold;
    font-family: "Verdana";
}

body {
    background-color: black;
}
