.story_image {
    width: 200px;
}

.group {
    width: 650px;
    max-width: 650px;
    height: 400px;
    max-height: 400px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.center_button {
    margin: auto;
    display: block;
}

.scroll_div {
    height: 250px;
    overflow: scroll;
}

.highlight {
    font-weight: bold;
    text-align: justify;
}

.diminish {
    font-color: #bfbfbf;
}

.customizer {
    height: 50px;
    background-color: #ff99cc;
}

body {
    background: black; /*#d9d9d9;*/
}
